# cSpell:ignore langchain groq genai faiss structlog PyMuPDF dotenv ipykernel pypdf streamlit pytest
langchain
python-dotenv
langchain_groq
ipykernel
langchain_google_genai
langchain-community
pypdf
faiss-cpu
structlog
PyMuPDF
pandas
streamlit
langchain-core[tracing]
pytest
docx2txt
-e .